---
import { Image } from 'astro:assets';
import Layout from './_layout.astro';
import Tardis from './tardis.astro';

import heroImage from '../assets/img/the-doctors.jpg';
import tardisImage from '../assets/img/call-to-action.jpg';
---

<Layout>
  <section class="hero pt-12 pb-12 sm:pb-16 lg:pt-8">
    <div class="hero-content px-4 max-w-7xl sm:px-6 lg:px-8">
      <div
        class="grid max-w-lg grid-cols-1 mx-auto lg:max-w-full lg:items-center lg:grid-cols-2 gap-y-12 lg:gap-x-16"
      >
        <div class="text-center lg:text-left">
          <h1
            class="text-4xl rotate-50 font-bold leading-tight text-gray-900 sm:text-5xl sm:leading-tight lg:leading-tight lg:text-6xl font-pj text-balance"
          >
            Welcome to the World of <span
              class="underline decoration-wavy decoration-purple-500 animate-pulse"
              >Doctor Who</span
            >
          </h1>
          <p class="mt-2 text-lg text-gray-600 sm:mt-8 font-inter">
            Exploring the <span class="underline">Time-Traveling</span> Adventures
            of the Doctor
          </p>
        </div>

        <div>
          <Image
            class="w-full rounded-lg"
            src={heroImage}
            alt="Img from Wikipedia"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="hero pt-12 pb-12 sm:pb-16 lg:pt-8">
    <div class="hero-content flex-col mt-40 px-4 max-w-7xl sm:px-6 lg:px-8">
      <Tardis />

      <div class="text-center">
        <h2 class="mt-40 text-5xl lg:text-7xl font-bold text-gray-900">
          The TARDIS!
        </h2>
        <p class="mt-4 text-2xl text-gray-600">
          Time And Relative Dimension In Space
        </p>
      </div>
    </div>
  </section>

  <section class="hero pt-12 pb-12 sm:pb-16 lg:pt-8">
    <div class="hero-content my-60 lg:mt-40 px-4 max-w-7xl sm:px-6 lg:px-8">
      <div class="relative">
        <Image
          class="rounded-lg w-full h-full object-cover mb-12"
          src={tardisImage}
          alt="Img from https://wallpaperaccess.com/doctor-who-hd"
        />
        <div
          class="lg:absolute inset-0 flex justify-center items-center lg:bg-gray-100 lg:bg-opacity-30"
        >
          <a class="lg:flex shrink-0" href="/seasons/1">
            <h2
              class="basis-1/4 animate-pulse lg:-rotate-12 text-4xl lg:text-7xl sm:text-5xl font-bold text-gray-900"
            >
              Dive the season 1
            </h2>
            <h2
              class="basis-1/4 hidden lg:block animate-pulse rotate-12 text-4xl lg:text-7xl sm:text-5xl font-bold text-gray-900"
            >
              Dive the season 1
            </h2>
            <h2
              class="basis-1/4 hidden lg:block animate-pulse -rotate-12 text-4xl lg:text-7xl sm:text-5xl font-bold text-gray-900"
            >
              Dive the season 1
            </h2>
            <h2
              class="basis-1/4 hidden lg:block animate-pulse rotate-12 text-4xl lg:text-7xl sm:text-5xl font-bold text-gray-900"
            >
              Dive the season 1
            </h2>
          </a>
        </div>
      </div>
    </div>
  </section>

  <footer
    class="footer footer-center -mt-10 p-10 bg-base-200 text-base-content rounded"
  >
    <div class="block">
      This site is an independent creation, not affiliated with the official
      Doctor Who franchise. <br /> We respect copyright, using materials under fair
      use or public domain. If you have copyright concerns, please <a
        class="link"
        href="https://tianheg.co/msg/"
        target="_blank">contact us</a
      >.
    </div>
  </footer>
</Layout>
